<template>
    <app-layout>
        <template #header>
            <h2 style = "text-align:center;" class="text-xl font-semibold leading-tight text-gray-800">Guardias en el mes (Equipo Villahermosa)</h2>
        </template>

        <div class="flex flex-col w-full p-1 m-1 mb-10 overflow-x-auto bg-gray-100 border rounded shadow-xl">
            <div class="flex justify-end px-2 md:px-5">
                <FileUpload class="" />
            </div>

            <div class="flex w-full p-1 m-1 overflow-x-auto">
                <Calendar
                    class="w-full overflow-x-auto rounded custom-calendar"
                    :masks="masks"
                    :attributes="attributes"
                    is-expanded
                    :locale="locale"
                    @update:to-page="pageChange"
                    :from-date="new Date(year, month - 1)"
                >
                    <template v-slot:day-content="{ day, attributes }">
                        <inertia-link
                            :href="
                                route('guardias.index', {
                                    from:
                                        year +
                                        '-' +
                                        ('0' + month).slice(-2) +
                                        '-' +
                                        ('0' + day.day).slice(-2) +
                                        'T00:00:00',
                                    to:
                                        year +
                                        '-' +
                                        ('0' + month).slice(-2) +
                                        '-' +
                                        ('0' + day.day).slice(-2) +
                                        'T23:59:59',
                                })
                            "
                            class="relative z-10 flex flex-col h-full p-1 overflow-hidden hover:bg-purple-100"
                            :class="{ 'bg-green-200': day.isToday }"
                        >
                            <span class="text-sm text-gray-900 day-label">{{ day.day }}</span>
                            <span class="absolute bottom-0 text-xs right-1" v-if="attributes">
                                <span class="" :class="{ 'text-green-500': attributes.length > 0 }">
                                    {{ attributes.length }}
                                </span>
                            </span>
                            <div class="flex-grow overflow-x-auto overflow-y-auto">
                                <p
                                    v-for="attr in attributes"
                                    :key="attr.key"
                                    class="flex flex-col p-1 mt-0 mb-1 text-xs leading-tight rounded-sm"
                                    :class="attr.customData.class"
                                >
                                    <span class="font-bold">{{ attr.customData.title }}</span>
                                    <span class="text-gray-700">
                                        {{ attr.customData.start_at.split(' ')[1] }} -
                                        {{ attr.customData.end_at.split(' ')[1] }}
                                    </span>
                                </p>
                            </div>
                        </inertia-link>
                    </template>
                </Calendar>
            </div>
        </div>
    </app-layout>
</template>

<script>
import { ref, computed } from 'vue'

import { usePage } from '@inertiajs/inertia-vue3'
import { Inertia } from '@inertiajs/inertia'

import AppLayout from '@/Layouts/AppLayout'
import FileUpload from './FileUpload'

import moment from 'moment'
import 'moment/locale/es'

export default {
    name: 'DashboardGuardias',
    components: {
        AppLayout,
        FileUpload,
    },
    props: {},
    setup(props) {
        let paramsStr = new URLSearchParams(window.location.search)
        let patnameArr = window.location.pathname.split('/')

        let loading = ref(false)

        const elements = computed(() => usePage().props.value.elements)
 console.log(elements);
        let date = new Date()

        let yearActual = date.getFullYear()
        let yearA = ref(yearActual)

        let monthActual = date.getMonth() + 1 // 0 - 11
        let monthA = ref(monthActual)

        if (typeof patnameArr[2] != 'undefined') {
            let dateA = patnameArr[2]

            yearActual = dateA.split('-')[0]
            yearA.value = yearActual

            monthActual = dateA.split('-')[1]
            monthA.value = monthActual
        } else {
        }

        let attributes = []
        let i = 0
        for (const [key, values] of Object.entries(elements.value)) {
            for (const [keyDay, row] of Object.entries(values)) {
                let start_at_y = moment(row.start_at).format('Y')
                let start_at_m = moment(row.start_at).format('M')
                let start_at_d = moment(row.start_at).format('D')

                attributes.push({
                    // key: i++,
                    customData: {
                        title: row.name,
                        start_at: row.start_at,
                        end_at: row.end_at,
                    },
                    popover: true,
                    dates: new Date(start_at_y, start_at_m - 1, start_at_d),
                })
            }
        }

        // =======================================================
        function pageChange({ month, year }) {
            if (month != monthA.value || year != yearA.value) {
                yearA.value = year
                monthA.value = month

                let paramsStrNew = '/guardias/' + year + '-' + month
                history.replaceState(null, null, paramsStrNew)

                Inertia.get(paramsStrNew)
            }
        }
        // =======================================================

        return {
            loading,
            year: yearA,
            month: monthA,
            attributes,
            pageChange,
        }
    },
    data() {
        return {
            locale: 'es-MX',
            masks: {
                weekdays: 'WWW',
            },
        }
    },
    methods: {},
}
</script>

<style scoped>
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    display: none;
}
/deep/ .custom-calendar.vc-container {
    --day-border: 1px solid #b8c2cc;
    --day-border-highlight: 1px solid #b8c2cc;
    --day-width: 90px;
    --day-height: 120px;
    --weekday-bg: #f8fafc;
    --weekday-border: 1px solid #eaeaea;
    border-radius: 0;
    width: 100%;
}
/deep/ .custom-calendar.vc-container .vc-header {
    background-color: #f1f5f8;
    padding: 10px 0;
}
/deep/ .custom-calendar.vc-container .vc-weeks {
    padding: 0;
}
/deep/ .custom-calendar.vc-container .vc-weekday {
    background-color: var(--weekday-bg);
    border-bottom: var(--weekday-border);
    border-top: var(--weekday-border);
    padding: 5px 0;
}
/deep/ .custom-calendar.vc-container .vc-day {
    /* padding: 0 5px 3px 5px; */
    text-align: left;
    height: var(--day-height);
    min-width: var(--day-width);
    background-color: white;
}
/deep/ .custom-calendar.vc-container .vc-day.weekday-1,
/deep/ .custom-calendar.vc-container .vc-day.weekday-7 {
    background-color: #eff8ff;
}
/deep/ .custom-calendar.vc-container .vc-day:not(.on-bottom) {
    border-bottom: var(--day-border);
}
/deep/ .custom-calendar.vc-container .vc-day:not(.on-bottom).weekday-1 {
    border-bottom: var(--day-border-highlight);
}
/deep/ .custom-calendar.vc-container .vc-day:not(.on-right) {
    border-right: var(--day-border);
}
/deep/ .custom-calendar.vc-container .vc-day-dots {
    margin-bottom: 5px;
}
</style>
