<template>
    <app-layout>
        <template #header>
            <nav class="w-full font-sans bg-grey-light">
                <ol class="flex list-reset">
                    <li class="px-2">
                        <inertia-link
                            :href="route('guardias.dashboard')"
                            class="no-underline hover:text-indigo-500 hover:font-bold"
                            >Dashboard
                        </inertia-link>
                    </li>
                    <li class="text-gray-500">/</li>
                    <li class="px-2">
                        <span class="font-semibold leading-tight text-gray-800">Guardias por día</span>
                    </li>
                </ol>
            </nav>
        </template>

        <div class="flex flex-col p-4 m-2 mb-10 bg-gray-100 border rounded">
            <!--  -->
            <div class="flex flex-col">
                <div class="flex flex-col items-start justify-between m-3 lg:flex-row">
                    <div class="font-bold uppercase">{{ dayGuards() }}</div>
                    <div class="text-xs text-gray-700 md:text-sm">Fecha y hora del servidor: {{ server_datetime }}</div>
                </div>

                <div class="flex flex-col items-center justify-between p-2 bg-white border rounded lg:flex-row">
                    <!--  -->
                    <div class="flex items-end">
                        <!-- Modal trigger -->
                        <ModalOpenerBtn btnLabel="Agregar Guardias(grupo Villahermosa)">
                            <GuardiasMassAssign @reloadGuardias="reloadGuardias" />
                        </ModalOpenerBtn>
                    </div>

                    <div>
                        <div v-if="loading">
                            <svg
                                class="w-5 h-5 mr-3 -ml-1 text-gray-500 animate-spin"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                            >
                                <circle
                                    class="opacity-25"
                                    cx="12"
                                    cy="12"
                                    r="10"
                                    stroke="currentColor"
                                    stroke-width="4"
                                ></circle>
                                <path
                                    class="opacity-75"
                                    fill="currentColor"
                                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                                ></path>
                            </svg>
                        </div>
                    </div>

                    <!-- Navegar -->
                    <div class="flex items-center p-1 mt-2 border border-gray-200 rounded md:flex-col lg:mt-0">
                        <div class="w-full text-center">Ir a:</div>
                        <div class="flex items-center justify-around p-1">
                            <div class="hidden md:block">
                                <button class="btn btn-sm btn-primary btn-outline" @click="moveToDate('previousDay')">
                                    « Día anterior
                                </button>
                            </div>
                            <div class="p-1 mx-2">
                                <DatePicker
                                    is-dark
                                    title-position="left"
                                    show-weeknumbers="right-outside "
                                    v-model="dateToGo"
                                    :locale="locale"
                                    :model-config="modelConfig"
                                >
                                    <template v-slot="{ inputValue, inputEvents }">
                                        <input
                                            class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300"
                                            :value="inputValue"
                                            v-on="inputEvents"
                                        />
                                    </template>
                                </DatePicker>
                            </div>
                            <div class="hidden md:block">
                                <button class="btn btn-sm btn-secondary btn-outline" @click="moveToDate('nextDay')">
                                    Día siguiente »
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-col">
                <!--  -->
                <div class="flex flex-col p-2 mt-5 bg-white border rounded">
                    <h2 class="flex items-center p-2 text-lg font-bold text-green-700">
                        Disponibles en este momento
                        <span
                            class="
                                inline-flex
                                items-center
                                justify-center
                                px-2
                                py-1
                                ml-2
                                text-xs
                                font-bold
                                leading-none
                                text-white
                                bg-green-400
                                rounded-full
                            "
                        >
                            {{ asesores_disponibles_en_este_momento.length }}
                        </span>
                    </h2>

                    <div class="flex flex-wrap">
                        <div v-if="asesores_disponibles_en_este_momento.length < 1">
                            No hay asesores disponibles en este momento
                        </div>
                        <div
                            class="relative grid w-full grid-cols-1 gap-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-5"
                        >
                            <div class="absolute inset-0 z-10 opacity-75 bg-gray-50" v-if="loading"></div>
                            <CardAsesor
                                v-for="el in asesores_disponibles_en_este_momento"
                                :key="el.id"
                                :el="el"
                                :typeAsesor="tAssesor"
                                @reloadGuardias="reloadGuardias"
                            />
                        </div>
                    </div>
                </div>

                <div class="flex flex-col p-2 mt-5 bg-white border rounded">
                    <h2 class="flex items-center p-2 text-lg text-blue-600">
                        Asesores de este día
                        <span
                            class="
                                inline-flex
                                items-center
                                justify-center
                                px-2
                                py-1
                                ml-2
                                text-xs
                                font-bold
                                leading-none
                                text-white
                                bg-blue-400
                                rounded-full
                            "
                        >
                            {{ asesores_disponibles_hoy.length }}
                        </span>
                    </h2>
                    <div class="flex flex-wrap">
                        <div v-if="asesores_disponibles_hoy.length < 1">No hay asesores disponibles este día</div>
                        <div
                            class="relative grid w-full grid-cols-1 gap-2 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-5"
                        >
                            <div class="absolute inset-0 z-10 opacity-75 bg-gray-50" v-if="loading"></div>
                            <CardAsesor
                                v-for="el in asesores_disponibles_hoy"
                                :key="el.id"
                                :el="el"
                                :typeAsesor="tAssesor"
                                @reloadGuardias="reloadGuardias"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import { ref, onBeforeUnmount, watch, computed } from 'vue'

import { usePage } from '@inertiajs/inertia-vue3'
import { Inertia } from '@inertiajs/inertia'

import AppLayout from '@/Layouts/AppLayout'
import Icon from '@/components/Icon'

import CardAsesor from '@/components/CardAsesor'

import ModalOpenerBtn from '@/components/ModalOpenerBtn'

import GuardiasMassAssign from './GuardiasMassAssign'

// import { useCurrentTime } from '@/_global/useCurrentTime'
// import { dateFilter, timeFilter } from '@/_global/_filters/datetimeFilter.js'
// import { fetchDataInterval } from '@/_global/fetchDataInterval'

import moment from 'moment'
import 'moment/locale/es'

export default {
    components: {
        AppLayout,
        Icon,
        CardAsesor,
        ModalOpenerBtn,
        GuardiasMassAssign,
    },
    metaInfo: { title: 'Dashboard' },
    props: {
        server_datetime: String,
        asesores_disponibles_hoy: Array,
        asesores_disponibles_en_este_momento: {
            type: Array,
            required: true,
        },
    },
    setup(props) {
        let paramsStr = new URLSearchParams(window.location.search)
        let loading = ref(false)

        let server_datetime = ref(moment(props.server_datetime).format('D/M/Y H:mm'))

        let asesores_disponibles_hoy = ref(props.asesores_disponibles_hoy)
        let asesores_disponibles_en_este_momento = ref(props.asesores_disponibles_en_este_momento)
        // let asesores_disponibles_hoy = computed(() => usePage().props.asesores_disponibles_hoy)
        // let asesores_disponibles_en_este_momento = computed(() => usePage().props.asesores_disponibles_en_este_momento)

        let selectedDate = moment().format('DD/MM/Y') // today

        let from = paramsStr.get('from')

        if (from) {
            selectedDate = moment(from).format('DD/MM/Y')
        }

        let dateToGo = ref(selectedDate)

        watch(dateToGo, (newValue, prevValue) => {
            if (newValue && newValue != prevValue) {
                selectedDate = moment(newValue, 'DD/MM/Y')
                goToDate(selectedDate.format('Y-MM-DD'))
            } else {
                dateToGo.value = prevValue
            }
        })

        function moveToDate(type) {
            if (type == 'previousDay') {
                selectedDate = moment(selectedDate, 'DD/MM/Y').add(-1, 'days')
            } else {
                selectedDate = moment(selectedDate, 'DD/MM/Y').add(1, 'days')
            }

            dateToGo.value = selectedDate.format('DD/MM/Y')
        }

        function goToDate(selectedDateStr) {
            paramsStr.set('from', selectedDateStr + 'T00:00:00')
            paramsStr.set('to', selectedDateStr + 'T23:59:59')

            reloadGuardias()

            let paramsStrNew = '?from=' + selectedDateStr + 'T00:00:00&to=' + selectedDateStr + 'T23:59:59'
            history.replaceState(null, null, paramsStrNew)
        }

        // =======================================================
        let reloadGuardias = () => {
            loading.value = true
            axios
                .get('/api/guardias?' + paramsStr)
                .then((response) => {
                    let responseData = response.data

                    server_datetime.value = moment(responseData.server_datetime).format('D/M/Y H:mm')
                    asesores_disponibles_hoy.value = responseData.asesores_disponibles_hoy
                    asesores_disponibles_en_este_momento.value = responseData.asesores_disponibles_en_este_momento
                })
                .finally(() => {
                    loading.value = false
                })
        }

        const intervalHandle = setInterval(reloadGuardias, 500000)

        onBeforeUnmount(() => clearInterval(intervalHandle.value))
        // =======================================================

        return {
            loading,
            server_datetime,
            asesores_disponibles_hoy,
            asesores_disponibles_en_este_momento,
            reloadGuardias,
            moveToDate,
            dateToGo,
            selectedDate,
        }
    },
    data() {
        return {
            locale: 'es-MX',
            modelConfig: {
                type: 'string',
                mask: 'DD/MM/YYYY',
            },
            tAssesor: 'guardias',
        }
    },
    methods: {
        dayGuards() {
            const params = new URLSearchParams(window.location.search)
            let from = params.get('from')

            if (from) {
                return moment(from).format('dddd D MMMM Y')
            }
            return moment().format('dddd D MMMM Y')
        },
    },
}
</script>
