<template>
    <!-- <inertia-head title="Your page title" /> -->

    <app-layout>
        <!-- <inertia-head>
            <title>Your page title</title>
            <meta name="description" content="Your page description" />
        </inertia-head> -->

        <template #header>
            <h2 class="text-xl font-semibold leading-tight text-gray-800">Dashboard</h2>
        </template>

        <div class="h-screen mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="h-screen pb-10 overflow-hidden bg-white shadow-xl sm:rounded-lg">
                <!-- <welcome /> -->

                <div class="p-6 bg-white border-b border-gray-200 sm:px-20">
                    <!-- <div>
                            <jet-application-logo class="block w-auto h-12" />
                        </div> -->

                    <div style = "display:flex;flex-direction:column" class="mt-8 text-2xl text-center">
                        <span>Bienvenido al sistema de rotación de guardias de IST</span>
                        <!-- {{ $page.props.user.name }} -->
                        <span>{{ user.name }}</span>
                        
                    </div>

                    <div class="flex mt-12">
                        <!-- <inertia-link
                                class="p-1 border border-green-800 rounded hover:bg-green-700 hover:text-white hover:border-black"
                                :href="route('hb_owners_list')"
                                >HB Asesores
                            </inertia-link> -->

                        <!-- <inertia-link
                                class="p-1 border border-green-800 rounded hover:bg-green-700 hover:text-white hover:border-black"
                                :href="route('guardias_list')"
                            >
                                Guardias
                            </inertia-link> -->
                    </div>

                    <div class="p-5 mt-20 bg-gray-200 rounded" v-if="$page.props.envl && 1 == 2">
                        <span>
                            <b> $page.envl: {{ $page.props.envl }}</b>
                        </span>

                        <inertia-link :href="route('asesores.index')">
                            <div class="m-2 text-center border rounded-lg shadow-lg bg-bg-white hover:bg-gray-50">
                                <div class="py-1 font-bold bg-blue-100 border-t border-blue-700 rounded-t">
                                    Asesores
                                </div>
                                <div class="flex justify-between p-2 border-t">
                                    <div class="flex flex-col">
                                        <span>activos</span>
                                        <span class="">{{ $page.props.asesores_count }}</span>
                                    </div>
                                    <div class="flex flex-col">
                                        <span class="px-1 mx-1 border-l border-r">en guardia</span>
                                        <span class="">{{ $page.props.asesores_count }}</span>
                                    </div>
                                    <div class="flex flex-col">
                                        <span>total</span>
                                        <span class="">{{ $page.props.asesores_count }}</span>
                                    </div>
                                </div>
                            </div>
                        </inertia-link>

                        <br />
                        {{ global.state.count }}
                        <button @click="global.increment">Increment</button>

                        <!-- <br />
                        <div>Flash: <Flash /></div> -->

                        <br />
                        App name:
                        <pre>{{ $page }}</pre>

                        <br />
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import { inject, computed } from 'vue'
import { usePage } from '@inertiajs/inertia-vue3'

import AppLayout from '@/Layouts/AppLayout'
// import Welcome from '@/Jetstream/Welcome'

export default {
    name: 'DashboardPpal',
    components: {
        AppLayout,
        // Welcome,
    },
    // inject: ['global'],
    setup(props) {
        const user = computed(() => usePage().props.value.auth.user)

        return {
            user,
            global: inject('global'),
        }
    },
    mounted() {},
}
</script>
