<template>
    <public-layout>
        <div
            class="
                relative
                flex
                justify-center
                min-h-screen
                bg-gray-100
                items-top
                dark:bg-gray-900
                sm:items-center sm:pt-0
            "
        >
            <div v-if="canLogin" class="fixed top-0 right-0 px-6 py-4 hiddenA sm:block">
                <inertia-link v-if="$page.props.user" href="/dashboard" class="text-sm text-gray-700 underline">
                    Dashboard
                </inertia-link>

                <template v-else>
                    <inertia-link :href="route('login')" class="text-sm text-gray-700 underline">
                        Ingresar
                    </inertia-link>

                    <!-- <inertia-link
                        v-if="canRegister"
                        :href="route('register')"
                        class="ml-4 text-sm text-gray-700 underline"
                    >
                        Registrar
                    </inertia-link> -->
                </template>
            </div>

            <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
                <div class="mt-8 overflow-hidden bg-white shadow dark:bg-gray-800 sm:rounded-lg">
                    <div class="grid grid-cols-1 md:grid-cols-2">
                        <!--  -->
                        <div class="p-6">
                            <div class="flex items-center">
                                <svg
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    viewBox="0 0 24 24"
                                    class="w-8 h-8 text-gray-500"
                                >
                                    <path
                                        d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
                                    ></path>
                                </svg>
                                <div class="ml-4 text-lg font-semibold leading-7">
                                    <a href="#" class="text-gray-900 underline dark:text-white">IST System</a>
                                </div>
                            </div>

                            <div class="m-10 ml-12">
                                <div class="text-sm text-gray-700 underline" v-if="$page.props.user">
                                    <a href="/dashboard">Ir al dashboard</a>
                                </div>
                                <div v-else>
                                    <inertia-link :href="route('login')" class="text-sm text-gray-700 underline">
                                        Ingresar
                                    </inertia-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </public-layout>
</template>

<script>
import PublicLayout from '../Layouts/PublicLayout.vue'
export default {
    components: { PublicLayout },
    props: {
        canLogin: Boolean,
        canRegister: Boolean,
        laravelVersion: String,
        phpVersion: String,
    },
}
</script>

<style scoped></style>
