.btn-indigo {
    @apply px-6 py-3 text-sm font-bold leading-4 text-white bg-indigo-600 rounded whitespace-nowrap hover:bg-orange-400 focus:bg-orange-400;
    /* @apply px-6 py-3 text-sm font-bold leading-4 text-white bg-indigo-600 rounded whitespace-nowrap hover:bg-yellow-400 focus:bg-yellow-400 ; */
}

.btn-spinner,
.btn-spinner:after {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.btn-spinner {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 0.2em solid white;
    border-right: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-left: 0.2em solid transparent;
    transform: translateZ(0);
    animation: spinning 1s infinite linear;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn {
    @apply px-5 py-3 text-base font-semibold leading-snug transition duration-300 ease-in-out rounded shadow-sm whitespace-nowrap;
}

.btn.btn-sm {
    @apply px-4 py-2 text-sm;
}

.btn.btn-lg {
    @apply px-8 py-4 text-lg;
}

.btn-primary {
    @apply text-white bg-blue-500 hover:bg-blue-600;
}

.btn-primary.btn-outline {
    @apply text-blue-600 bg-transparent border border-blue-600 hover:bg-blue-600 hover:text-white;
}

.btn-secondary {
    @apply text-white bg-indigo-500 hover:bg-indigo-600;
}

.btn-secondary.btn-outline {
    @apply text-indigo-600 bg-transparent border border-indigo-600 hover:bg-indigo-600 hover:text-white;
}

.btn-tertiary {
    @apply text-white bg-gray-600 hover:bg-gray-700;
}

.btn-tertiary.btn-outline {
    @apply text-gray-600 bg-transparent border border-gray-600 hover:bg-gray-600 hover:text-white;
}

.btn-green_1 {
    @apply text-white bg-green-500 rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75;
}
