<template>
    <div class="relative flex flex-col w-full p-2 border rounded hover:bg-gray-50">
        <div class="flex">
            <span class="max-w-max mr-2 overflow-ellipsis overflow-hidden ...">{{ el.name }}</span>
        </div>
        <div class="flex flex-col justify-between mb-auto lg:flex-row">
            <span class="text-xs overflow-ellipsis overflow-hidden ... w-full lg:w-1/3" :title="el.email">
                {{ el.email }}
            </span>
            <span class="text-sm font-semibold"
                >{{ dateTimeFormat(el.start_at) }} - {{ dateTimeFormat(el.end_at) }}</span
            >
        </div>
        <div class="flex flex-col items-center justify-between mt-1 border-t lg:flex-row">
            <div class="">
                <ModalConfirm
                    :modalHeadline="'Eliminar guardia de ' + el.name"
                    message="Estas seguro ?"
                    parentActionOnConfirm="deleteRecordEvent"
                    :id="el.id"
                    @deleteRecordEvent="remove"
                />

                <!-- <jet-confirmation-modal :show="confirmingUserDeletion" @close="confirmingUserDeletion = false">
                    <template #title> Delete Account </template>

                    <template #content>
                        Are you sure you want to delete your account? Once your account is deleted, all of its resources
                        and data will be permanently deleted.
                    </template>

                    <template #footer>
                        <jet-secondary-button @click.native="confirmingUserDeletion = false">
                            Nevermind
                        </jet-secondary-button>

                        <jet-danger-button
                            class="ml-2"
                            @click.native="deleteTeam"
                            :class="{ 'opacity-25': form.processing }"
                            :disabled="form.processing"
                        >
                            Delete Account
                        </jet-danger-button>
                    </template>
                </jet-confirmation-modal> -->
            </div>
            
            <div class="flex gap-2 text-xs text-gray-600">
                <span>id: {{ el.id }}</span>
                <span>
                    hbo id: <b>{{ el.hb_owners_id }}</b>
                </span>
                <!-- <span>
                    user id: <i class="font-bold">{{ el.user_id }}</i>
                </span> -->
            </div>
        </div>
    </div>
</template>

<script>
import { ref, onMounted, onUpdated, inject } from 'vue'

// import { usePage } from '@inertiajs/inertia-vue3'
import { Inertia } from '@inertiajs/inertia'

import moment from 'moment'
import 'moment/locale/es'

import ModalConfirm from '@/components/ModalConfirm'

import JetConfirmationModal from '@/Jetstream/ConfirmationModal'
import JetSecondaryButton from '@/Jetstream/SecondaryButton'
import JetDangerButton from '@/Jetstream/DangerButton'

export default {
    props: {
        el: {
            type: Object,
            required: true
        },
        typeAsesor: {
            type: String,
             required: true
        }
    },
    components: {
        ModalConfirm,
        JetConfirmationModal,
        JetSecondaryButton,
        JetDangerButton,
    },
    data() {
        return {
            confirmingUserDeletion: true,
        }
    },
    setup(props, { emit }) {
        let global = inject('global')
        function remove(id) {
            axios.delete('/api/' + props.typeAsesor  + '/' + id).then((response) => {
                global.Toast.fire({
                    icon: 'success',
                    title: 'Realizado.',
                })

                emit('reloadGuardias')
            })
        }

        return {
            global,
            remove,
        }
    },
    methods: {
        dateTimeFormat(datetime) {
            // return moment(datetime).format('dddd, Do MMMM YYYY, h:mm:ss a')
            // return moment(datetime).format('h:mm:ss a dddd D/MM/Y ')
            return moment(datetime).format('h:mm:ss a')
        },
        dayGuards() {
            const params = new URLSearchParams(window.location.search)
            let from = params.get('from')

            if (from) {
                return moment(from).format('dddd D MMMM Y')
            }

            return moment().format('dddd D MMMM Y')
        },
    },
}
</script>
