<template>
    <transition name="slide-fade">
        <div>
            toast: {{ toast }} show: {{ show }}
            <!-- popstate: {{ popstate }} -->
            <div class="w-full" v-if="toast && show">
                <!-- success -->
                <!-- <div v-if="$page.props.flash && $page.props.flash.success && show" class="flex items-center justify-between mb-8 bg-green-500 rounded max-w-3xlA ">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-4 h-4 ml-4 mr-2 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><polygon points="0 11 2 9 7 14 18 3 20 5 7 18" /></svg>
        <div class="py-4 text-sm font-medium text-white">{{ $page.props.flash.success }}</div>
      </div>
      <button type="button" class="p-2 mr-2 group" @click="show = false">
        <svg class="block w-2 h-2 fill-green-800 group-hover:fill-white" xmlns="http://www.w3.org/2000/svg" width="235.908" height="235.908" viewBox="278.046 126.846 235.908 235.908"><path d="M506.784 134.017c-9.56-9.56-25.06-9.56-34.62 0L396 210.18l-76.164-76.164c-9.56-9.56-25.06-9.56-34.62 0-9.56 9.56-9.56 25.06 0 34.62L361.38 244.8l-76.164 76.165c-9.56 9.56-9.56 25.06 0 34.62 9.56 9.56 25.06 9.56 34.62 0L396 279.42l76.164 76.165c9.56 9.56 25.06 9.56 34.62 0 9.56-9.56 9.56-25.06 0-34.62L430.62 244.8l76.164-76.163c9.56-9.56 9.56-25.06 0-34.62z" /></svg>
      </button>
    </div> -->
                <!-- error -->
                <!-- <div v-if="($page.props.flash && $page.props.flash.error || Object.keys($page.props.errors).length > 0) && show" class="flex items-center justify-between mb-8 bg-red-400 rounded max-w-3xlA">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-4 h-4 ml-4 mr-2 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm1.41-1.41A8 8 0 1 0 15.66 4.34 8 8 0 0 0 4.34 15.66zm9.9-8.49L11.41 10l2.83 2.83-1.41 1.41L10 11.41l-2.83 2.83-1.41-1.41L8.59 10 5.76 7.17l1.41-1.41L10 8.59l2.83-2.83 1.41 1.41z" /></svg>
        <div v-if="$page.props.flash.error" class="py-4 text-sm font-medium text-white">{{ $page.props.flash.error }}</div>
        <div v-else class="py-4 text-sm font-medium text-white">
          <span v-if="Object.keys($page.props.errors).length === 1">Se econtraron los siguientes errores.</span>
          <span v-else>Hay {{ Object.keys($page.props.errors).length }} errores.</span>
        </div>
      </div>
      <button type="button" class="p-2 mr-2 group" @click="show = false">
        <svg class="block w-2 h-2 fill-red-800 group-hover:fill-white" xmlns="http://www.w3.org/2000/svg" width="235.908" height="235.908" viewBox="278.046 126.846 235.908 235.908"><path d="M506.784 134.017c-9.56-9.56-25.06-9.56-34.62 0L396 210.18l-76.164-76.164c-9.56-9.56-25.06-9.56-34.62 0-9.56 9.56-9.56 25.06 0 34.62L361.38 244.8l-76.164 76.165c-9.56 9.56-9.56 25.06 0 34.62 9.56 9.56 25.06 9.56 34.62 0L396 279.42l76.164 76.165c9.56 9.56 25.06 9.56 34.62 0 9.56-9.56 9.56-25.06 0-34.62L430.62 244.8l76.164-76.163c9.56-9.56 9.56-25.06 0-34.62z" /></svg>
      </button>
    </div> -->

                <!-- $page.props.flash: {{ $page.props.flash }} -->
                <!-- $page.props.flash.toast: {{ $page.props.flash.toast.type }} -->

                <div class="absolute z-50 flex w-full max-w-xs p-2 bg-white rounded shadow top-10 right-2">
                    <div class="mr-2">
                        <Icon name="check-circle" class="w-6 h-6 text-green-600" v-if="toast.type == 'success'" />
                        <Icon name="exclamation" class="w-6 h-6 text-red-600" v-if="toast.type == 'error'" />
                    </div>
                    <div class="flex-1 text-gray-800">
                        <!-- show: {{ show }} <br /> -->
                        <!-- $page.props.flash: {{ $page.props.flash }}  -->
                        <!-- $page.props.flash.toast: {{ $page.props.flash.toast.type }} -->
                        {{ toast.message }}
                    </div>
                    <div class="ml-2">
                        <button
                            class="text-gray-500 align-top hover:text-gray-700 focus:outline-none focus:text-indigo-600"
                            @click="closeToasts"
                        >
                            <!-- <Icon name="apple" /> -->
                            <Icon name="close_solid" class="w-6 h-6 text-gray-600 hover:text-red-700" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import Icon from '@/components/Icon'

export default {
    components: {
        Icon,
    },
    props: {
        toast: Object,
        // popstate: Boolean,
    },
    data() {
        return {
            show: false,
            timeout: null,
        }
    },
    watch: {
        // '$page.props.flash.toast': {
        //     deep: true,
        //     handler() {
        //         this.show = true

        //         this.timeout = setTimeout(() => (this.show = false), 2000)
        //     },
        // },
        toast: {
            deep: true,
            handler() {
                console.log('watch toast')
                this.show = true

                this.timeout = setTimeout(() => (this.show = false), 2000)
            },
        },
    },
    methods: {
        closeToasts() {
            this.show = false
        },
    },
    mounted() {
        console.log('toast', this.toast)
        if (this.toast) {
            this.show = true
        }
    },
}
</script>

<style scoped>
.slide-fade-enter-active {
    transition: all 0.3s ease;
}

.slide-fade-leave-active {
    transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(150px);
    opacity: 0;
}
</style>
