<template>
    <nav class="w-full bg-white border-b border-gray-100 hiddenA sm:block">
        <!--  -->
        <!-- Primary Navigation Menu -->
        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="flex justify-between h-10">
                <div class="flex">
                    <!-- Logo -->
                    <!-- <div class="flex items-center flex-shrink-0">
                            <inertia-link :href="route('dashboard')">
                                <jet-application-mark class="block w-auto h-9" />
                            </inertia-link>
                        </div> -->

                    <!-- Navigation Links -->
                    <!-- <div
                        class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex"
                        v-for="item in global.menuItems"
                        :key="item.routeName"
                    >
                        <jet-nav-link :href="route(item.routeName)" :active="route().current(item.routeName)">
                            {{ item.title }}
                        </jet-nav-link>
                    </div> -->
                </div>

                <div class="hidden sm:flex sm:items-center sm:ml-6">
                    <!-- Settings Dropdown -->
                    <div class="relative ml-3">
                        <jet-dropdown align="right" width="48">
                            <template #trigger>
                                <button
                                    v-if="$page.props.jetstream.managesProfilePhotos"
                                    class="flex text-sm transition border-2 border-transparent rounded-full  focus:outline-none focus:border-gray-300"
                                >
                                    <img
                                        class="object-cover w-8 h-8 rounded-full"
                                        :src="$page.props.user.profile_photo_url"
                                        :alt="$page.props.user.name"
                                    />
                                </button>

                                <span v-else class="inline-flex rounded-md">
                                    <button
                                        type="button"
                                        class="inline-flex items-center px-3 py-2 text-sm font-medium leading-4 text-gray-500 transition bg-white border border-transparent rounded-md  hover:text-gray-700 focus:outline-none"
                                    >
                                        {{ $page.props.user.name }}

                                        <svg
                                            class="ml-2 -mr-0.5 h-4 w-4"
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20"
                                            fill="currentColor"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                                clip-rule="evenodd"
                                            />
                                        </svg>
                                    </button>
                                </span>
                            </template>

                            <template #content>
                                <!-- Account Management -->
                                <div class="block px-4 py-2 text-xs text-gray-400">Administrar cuenta</div>

                                <!-- <jet-dropdown-link :href="route('profile.show')"> Perfil </jet-dropdown-link> -->

                                <!-- <jet-dropdown-link
                                    :href="route('api-tokens.index')"
                                    v-if="$page.props.jetstream.hasApiFeatures"
                                >
                                    API Tokens
                                </jet-dropdown-link> -->

                                <div class="border-t border-gray-100"></div>

                                <!-- Authentication -->
                                <form @submit.prevent="global.logout">
                                    <jet-dropdown-link as="button">Salir</jet-dropdown-link>
                                </form>
                            </template>
                        </jet-dropdown>
                    </div>
                </div>

                <!-- Hamburger -->
                <div class="flex items-center -mr-2 sm:hidden">
                    <button
                        @click="showingNavigationDropdown = !showingNavigationDropdown"
                        class="inline-flex items-center justify-center p-2 text-gray-400 transition rounded-md  hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500"
                    >
                        <svg class="w-6 h-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                            <path
                                :class="{
                                    hidden: showingNavigationDropdown,
                                    'inline-flex': !showingNavigationDropdown,
                                }"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16"
                            />
                            <path
                                :class="{
                                    hidden: !showingNavigationDropdown,
                                    'inline-flex': showingNavigationDropdown,
                                }"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"
                            />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Responsive Navigation Menu -->
        <div
            :class="{
                block: showingNavigationDropdown,
                hidden: !showingNavigationDropdown,
            }"
            class="sm:hidden"
        >
            <div class="pt-2 pb-3 space-y-1" v-for="item in global.menuItems" :key="item.routeName">
                <jet-responsive-nav-link :href="route(item.routeName)" :active="route().current(item.routeName)">
                    {{ item.title }}
                </jet-responsive-nav-link>
            </div>

            <!-- Responsive Settings Options -->
            <!-- hidden -->
            <div class="pt-4 pb-1 border-t border-gray-200" v-if="1 == 2">
                <div class="flex items-center px-4">
                    <div v-if="$page.props.jetstream.managesProfilePhotos" class="flex-shrink-0 mr-3">
                        <img
                            class="object-cover w-10 h-10 rounded-full"
                            :src="$page.props.user.profile_photo_url"
                            :alt="$page.props.user.name"
                        />
                    </div>

                    <div>
                        <div class="text-base font-medium text-gray-800">
                            {{ $page.props.user.name }}
                        </div>
                        <div class="text-sm font-medium text-gray-500">
                            {{ $page.props.user.email }}
                        </div>
                    </div>
                </div>

                <div class="mt-3 space-y-1">
                    <jet-responsive-nav-link :href="route('profile.show')" :active="route().current('profile.show')">
                        Profile
                    </jet-responsive-nav-link>

                    <jet-responsive-nav-link
                        :href="route('api-tokens.index')"
                        :active="route().current('api-tokens.index')"
                        v-if="$page.props.jetstream.hasApiFeatures"
                    >
                        API Tokens
                    </jet-responsive-nav-link>

                    <!-- Authentication -->
                    <form method="POST" @submit.prevent="logout">
                        <jet-responsive-nav-link as="button"> Log Out </jet-responsive-nav-link>
                    </form>

                    <!-- Team Management -->
                    <template v-if="$page.props.jetstream.hasTeamFeatures">
                        <div class="border-t border-gray-200"></div>

                        <div class="block px-4 py-2 text-xs text-gray-400">Manage Team</div>

                        <!-- Team Settings -->
                        <jet-responsive-nav-link
                            :href="route('teams.show', $page.props.user.current_team)"
                            :active="route().current('teams.show')"
                        >
                            Team Settings
                        </jet-responsive-nav-link>

                        <jet-responsive-nav-link
                            :href="route('teams.create')"
                            :active="route().current('teams.create')"
                            v-if="$page.props.jetstream.canCreateTeams"
                        >
                            Create New Team
                        </jet-responsive-nav-link>

                        <div class="border-t border-gray-200"></div>

                        <!-- Team Switcher -->
                        <div class="block px-4 py-2 text-xs text-gray-400">Switch Teams</div>

                        <template v-for="team in $page.props.user.all_teams" :key="team.id">
                            <form @submit.prevent="switchToTeam(team)">
                                <jet-responsive-nav-link as="button">
                                    <div class="flex items-center">
                                        <svg
                                            v-if="team.id == $page.props.user.current_team_id"
                                            class="w-5 h-5 mr-2 text-green-400"
                                            fill="none"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            stroke="currentColor"
                                            viewBox="0 0 24 24"
                                        >
                                            <path d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                        </svg>
                                        <div>{{ team.name }}</div>
                                    </div>
                                </jet-responsive-nav-link>
                            </form>
                        </template>
                    </template>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
import JetNavLink from '@/Jetstream/NavLink'
import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink'
import JetDropdown from '@/Jetstream/Dropdown'
import JetDropdownLink from '@/Jetstream/DropdownLink'

export default {
    components: {
        JetNavLink,
        JetResponsiveNavLink,
        JetDropdown,
        JetDropdownLink,
    },
    inject: ['global'],
    data() {
        return {
            showingNavigationDropdown: false,
        }
    },
    methods: {
        logout() {
            this.$inertia.post(route('logout'))
        },
    },
    mounted() {
        // console.log('oute().current(item.routeName): ', this.route().current(''))
    },
}
</script>
