<template>
    <div>
        <div class="mb-4">
            <inertia-link class="flex items-center py-3 group" :href="route('dashboard')">
                <icon
                    name="dashboard"
                    class="w-4 h-4 mr-2"
                    :class="isUrl('') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'"
                />
                <div :class="isUrl('') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Dashboard</div>
            </inertia-link>
        </div>
        <div class="mb-4">
            <!-- <inertia-link class="flex items-center py-3 group" :href="route('organizations')">
                <icon
                    name="office"
                    class="w-4 h-4 mr-2"
                    :class="isUrl('organizations') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'"
                />
                <div :class="isUrl('organizations') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">
                    Organizations
                </div>
            </inertia-link> -->
            Organizations
        </div>
        <div class="mb-4">
            <!-- <inertia-link class="flex items-center py-3 group" :href="route('contacts')">
                <icon
                    name="users"
                    class="w-4 h-4 mr-2"
                    :class="isUrl('contacts') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'"
                />
                <div :class="isUrl('contacts') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Contacts</div>
            </inertia-link> -->
            Contacts
        </div>
        <div class="mb-4">
            <!-- <inertia-link class="flex items-center py-3 group" :href="route('reports')">
                <icon
                    name="printer"
                    class="w-4 h-4 mr-2"
                    :class="isUrl('reports') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'"
                />
                <div :class="isUrl('reports') ? 'text-white' : 'text-indigo-300 group-hover:text-white'">Reports</div>
            </inertia-link> -->
            Reports
        </div>
    </div>
</template>

<script>
import Icon from '@/components/Icon'
export default {
    components: {
        Icon,
    },
    methods: {
        isUrl(...urls) {
            let currentUrl = this.$page.url.substr(1)
            if (urls[0] === '') {
                return currentUrl === ''
            }
            return urls.filter((url) => currentUrl.startsWith(url)).length
        },
    },
}
</script>
