<template>
    <!-- <div class="flex-shrink-0 bg-gray-800 overflow-y-autoA md:min-h-screenA md:w-56 hiddenA md:block"> -->
    <div class="menu-side">
        <!-- aside -->
        <aside class="w-full">
            <!-- user info -->
            <div class="items-center justify-between hidden h-16 p-4 bg-gray-900 md:flex">
                <a href="#" class="flex items-center">
                    <!-- Current Profile Photo -->
                    <!-- <div class="">
                        <img
                            :src="$page.props.user.profile_photo_url"
                            :alt="$page.props.user.name"
                            class="object-cover w-10 h-10 rounded-full"
                        />
                    </div> -->

                    <!-- <span class="mx-2 text-xl font-semibold text-gray-300">{{ $page.props.user.name }}</span> -->
                </a>
            </div>

            <!--  menu elements -->
            <div class="flex flex-col h-full px-2 md:block">
                <!--  -->
                <ul class="md:flex-grow md:mb-auto">
                    <li
                        class="px-2 py-2 mt-1 rounded hover:bg-gray-900"
                        :class="route().current(item.routeName) ? 'active' : ''"
                        v-for="item in global.menuItems"
                        :key="item.routeName"
                    >
                        <inertia-link
                            class="flex items-center group"
                            :href="route(item.routeName)"
                            :class="route().current(item.routeName) ? 'active' : ''"
                        >
                            <Icon
                                v-if="item.icon"
                                :name="item.icon"
                                class="w-5 h-5 mr-1 text-gray-500 fill-gray-500"
                                :class="route().current(item.routeName) ? '' : 'group-hover:fill-white'"
                            />
                            <span
                                style = "font-size:14px;"
                                class="mx-2 text-gray-300"
                                :class="route().current(item.routeName) ? '' : 'group-hover:text-white'"
                            >
                                {{ item.title }}
                            </span>
                        </inertia-link>
                    </li>
                </ul>

                <!-- botom nav -->
                <!-- <div class="mt-2 -mx-2 border-t border-gray-700"></div> -->
                <div class="pt-2 mt-auto">
                    <!-- <li class="px-2 py-3 mt-2 rounded hover:bg-gray-900">
                            <a href="#" class="mx-2 text-gray-300">Account Settings</a>
                        </li> -->
                    <button
                        type="button"
                        class="flex w-full px-2 py-1 rounded cursor-pointer  group hover:bg-gray-900 hover:border hover:border-gray-100 hover:text-red-500"
                        @click="logout"
                    >
                        <icon name="logout" class="w-5 h-5 mr-1 text-gray-500" />
                        <span class="mx-2 text-gray-300">Salir</span>
                    </button>
                </div>
            </div>
        </aside>
        <!--  -->
    </div>
</template>

<script>
import Icon from '@/components/Icon'
import JetNavLink from '@/Jetstream/NavLink'

export default {
    components: {
        Icon,
        JetNavLink,
    },
    inject: ['global'],
    data() {
        return {
            asideOpen: false,
            isOpen: false,
        }
    },
    methods: {
        logout() {
            this.$inertia.post(route('logout'))
        },
    },
}
</script>
