<template>
    <div class="flex">
        <button
            @click="showConfirmModal()"
            class="justify-center px-1 my-1 font-medium text-white bg-red-500 border border-gray-300 rounded-md shadow-sm  text-md hover:bg-red-600"
            type="button"
            v-if="btnTitle"
        >
            <span>{{ btnTitle }}</span>
        </button>

        <Icon
            v-else
            name="trash"
            class="w-6 h-6 p-1 text-red-500 cursor-pointer hover:text-red-700"
            :title="modalHeadline"
            @click="showConfirmModal()"
        />

        <!-- modal -->
        <transition name="modal-fade" v-show="isConfirmModalVisible">
            <div class="fixed inset-0 z-10 overflow-y-auto">
                <div class="flex items-end justify-center min-h-screen px-4 pt-4 pb-20 text-center sm:block sm:p-0">
                    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
                        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                    </div>

                    <!-- This element is to trick the browser into centering the modal contents. -->
                    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
                    <div
                        class="inline-block overflow-hidden text-left align-bottom transition-all transform bg-white rounded-lg shadow-xl  sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
                        role="dialog"
                        aria-modal="true"
                        aria-labelledby="modal-headline"
                    >
                        <div class="px-4 pt-5 pb-4 bg-white sm:p-6 sm:pb-4">
                            <div class="sm:flex sm:items-start">
                                <div
                                    class="flex items-center justify-center flex-shrink-0 w-12 h-12 mx-auto bg-red-100 rounded-full  sm:mx-0 sm:h-10 sm:w-10"
                                >
                                    <Icon name="exclamation" class="w-6 h-6 text-red-600" />
                                </div>
                                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                    <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-headline">
                                        {{ modalHeadline }}
                                    </h3>
                                    <div class="mt-2">
                                        <p class="text-sm text-gray-500">
                                            {{ message }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="px-4 py-3 bg-gray-50 sm:px-6 sm:flex sm:flex-row-reverse">
                            <button
                                type="button"
                                @click="confirm"
                                class="inline-flex justify-center w-full px-4 py-2 text-base font-medium text-white bg-red-600 border border-transparent rounded-md shadow-sm  hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm"
                            >
                                Eliminar
                            </button>
                            <button
                                type="button"
                                @click="closeModal"
                                class="inline-flex justify-center w-full px-4 py-2 mt-3 text-base font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm  hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
                            >
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import Icon from '@/components/Icon'

export default {
    name: 'modal',
    components: {
        Icon,
    },
    props: {
        btnTitle: {
            type: String,
            required: false,
        },
        modalHeadline: {
            type: String,
            required: true,
        },
        message: {
            type: String,
            required: true,
        },
        parentActionOnConfirm: {
            type: String,
            required: true,
        },
        id: {
            type: Number,
            required: true,
        },
    },
    data() {
        return {
            isConfirmModalVisible: false,
        }
    },
    methods: {
        showConfirmModal() {
            this.isConfirmModalVisible = true
        },
        closeModal() {
            this.isConfirmModalVisible = false
            // this.$emit('close')
        },
        confirm() {
            this.closeModal()
            this.$emit(this.parentActionOnConfirm, this.id)
        },
    },
}
</script>
