<template>
    <transition
        enter-active-class="transition duration-200 ease-out transform"
        enter-from-class="opacity-0"
        enter-to-class="opacity-100"
        leave-active-class="transition duration-200 ease-in transform"
        leave-from-class="opacity-100"
        leave-to-class="opacity-0"
        v-show="showModal"
    >
        <div ref="modal-backdrop" class="fixed inset-0 z-20 overflow-y-auto bg-black bg-opacity-50">
            <div class="flex items-center justify-center min-h-screen pt-24 text-center">
                <div
                    class="relative w-full p-2 text-left bg-white rounded-lg shadow-xl  md:p-8 md:w-10/12 overflow-hiddenRM"
                    role="dialog"
                    ref="modal"
                    aria-modal="true"
                    aria-labelledby="modal-headline"
                >
                    <button
                        class="absolute px-3 py-1 rounded-full top-4 right-4 hover:bg-gray-800 hover:text-white"
                        @click="closeModal"
                    >
                        <!-- <icon-close @click="closeModal" /> -->
                        X
                    </button>

                    <slot>I'm empty inside</slot>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import { ref, watch } from 'vue'

import useClickOutside from '@/composables/useClickOutSide.js'

const props = {
    show: {
        type: Boolean,
        default: false,
    },
}

export default {
    name: 'ModalDialog',
    props,
    setup(props, { emit }) {
        const showModal = ref(props.show)
        const modal = ref(null)

        function closeModal() {
            emit('closeModal')
            showModal.value = false
        }

        const { onClickOutside } = useClickOutside()

        onClickOutside(modal, () => {
            if (showModal.value === true) {
                closeModal()
            }
        })

        watch(
            () => props.show,
            (show) => {
                showModal.value = show
            }
        )

        return {
            closeModal,
            showModal,
            modal,
        }
    },
}
</script>
