<template>
    <div class="">
        <!-- Modal trigger -->
        <!-- class="flex justify-center w-full px-4 py-2 m-2 mx-auto text-base font-medium text-blue-700 bg-white border border-blue-300 rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-1 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" -->
        <button type="button" @click="openModal()" class="uppercase btn btn-sm btn-green_1">
            {{ btnLabel }}
        </button>

        <ModalDialog :show="showModal" @closeModal="showModal = !showModal">
            <slot>main slot</slot>
        </ModalDialog>
        <!--  -->
    </div>
</template>

<script>
import ModalDialog from '@/components/ModalDialog.vue'

import { ref } from 'vue'

const props = {
    btnLabel: {
        type: String,
        default: 'Abrir modal',
    },
}

const components = {
    ModalDialog,
}

export default {
    name: 'ModalOpenerBtn',
    props,
    components,
    setup() {
        const showModal = ref(false)
        // const showModal = ref(true)

        function openModal() {
            showModal.value = true
        }

        return {
            showModal,
            openModal,
        }
    },
}
</script>
