<template>
    <div class="flex flex-col">
        <span>Subir archivo CSV de guardias Paraíso</span>
        <form @submit.prevent="submit" class="flex items-center">
            <input class="form-control-file" style="margin-right:50px;" type="file" @input="form.file = $event.target.files[0]" />
            <button type="submit" class="uppercase btn btn-sm btn-green_1">Subir</button>
        </form>

        <progress v-if="form.progress" :value="form.progress.percentage" max="100">
            {{ form.progress.percentage }}%
        </progress>
    </div>
</template>

<script>
import { ref, onMounted, onUpdated, inject } from 'vue'
import { useForm } from '@inertiajs/inertia-vue3'

export default {
    setup() {
        let global = inject('global')

        const form = useForm({
            file: null,
        })

        function submit() {
            form.post('/guardiasParaiso/from-file', {
                onSuccess: () => {
                    global.Toast.fire({
                        icon: 'success',
                        text: 'Realizado',
                    })

                    form.reset()
                    location.reload()
                },
                onError: () => {
                    global.Toast.fire({
                        icon: 'warning',
                        text: 'Error',
                    })
                },

                onFinish: () => {
                    // form.reset()
                    // location.reload()
                },
            })
        }

        return { form, submit }
    },
}
</script>
