<template>
    <div class="flex flex-col">
        <h4 class="w-full mb-4 font-bold text-center text-green-800 uppercase">Agregar guardiasParaiso</h4>

        <div class="flex-col">
            <div class="flex justify-center gap-1 p-4 text-center bg-gray-100 rounded">
                <div>
                    <span>Fecha/hora inicio</span>
                    <DatePicker
                        v-model="start_at"
                        mode="dateTime"
                        is24hr
                        :model-config="modelConfig"
                        is-required
                        :locale="locale"
                        is-dark
                        title-position="left"
                        show-weeknumbers="right-outside "
                    >
                        <template v-slot="{ inputValue, inputEvents }">
                            <input
                                class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300"
                                :value="inputValue"
                                v-on="inputEvents"
                            />
                        </template>
                    </DatePicker>
                </div>

                <div>
                    <span>Fecha/hora fin</span>
                    <DatePicker
                        v-model="end_at"
                        mode="dateTime"
                        is24hr
                        :model-config="modelConfig"
                        is-required
                        :locale="locale"
                        is-dark
                        title-position="left"
                        show-weeknumbers="right-outside "
                    >
                        <template v-slot="{ inputValue, inputEvents }">
                            <input
                                class="px-2 py-1 border rounded focus:outline-none focus:border-blue-300"
                                :value="inputValue"
                                v-on="inputEvents"
                            />
                        </template>
                    </DatePicker>
                </div>
            </div>
        </div>

        <h5 class="p-2 mt-4 font-bold">Asesores</h5>

        <div class="p-2 border rounded">
            <!-- Scroll wrapper -->
            <div class="flex overflow-hidden max-h-96">
                <!-- Scrollable container -->
                <div class="flex-1 overflow-y-scroll">
                    <!-- Your content -->
                    <div class="grid justify-start grid-cols-1 p-1 text-left md:grid-cols-3">
                        <div v-for="el in asesores" :key="el.id" class="overflow-ellipsis overflow-hidden ... p-1">
                            <input
                                class="mr-1"
                                type="checkbox"
                                v-model="user_ids"
                                :id="el.user_id"
                                :value="el.user_id"
                            />
                            <label :for="el.user_id">
                                <span class="text-xs text-gray-600">[#{{ el.user_id }}]</span> {{ el.name }}
                                <!-- - {{ el.email }} -->
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-4">Seleccionados: {{ user_ids }} ({{ user_ids.length }})</div>

        <div class="flex m-1 mt-5">
            <button @click="sendForm" class="uppercase btn btn-sm btn-green_1" :disabled="loading">Enviar</button>
            <div v-if="loading">...</div>
        </div>
    </div>
</template>

<script>
import { ref, onMounted, onUpdated, inject } from 'vue'

import moment from 'moment'
import 'moment/locale/es'

export default {
    data() {
        return {
            date: new Date(),
            locale: 'es-MX',
            modelConfig: {
                type: 'string',
                mask: 'DD/MM/YY H:mm',
            },
        }
    },
    setup(props, { emit }) {
        let global = inject('global')
        let loading = ref(false)
        let selectedDate = moment().format('DD/MM/YY H:mm') // today

        let paramsStr = new URLSearchParams(window.location.search)
        let from = paramsStr.get('from')

        if (from) {
            selectedDate = moment(from).format('DD/MM/YY H:mm')
        }

        let start_at = ref(selectedDate)
        // var status = moment(myDate).add(5, 'hours').format('DD/MM/Y H:mm');
        let end_at = ref(selectedDate)

        const user_ids = ref([])
        const asesores = ref(null)

        onMounted(async () => {
            fetchData()
        })

        function fetchData() {
            loading.value = true
            axios
                .get('/api/asesoresParaiso')
                .then((response) => {
                    asesores.value = response.data
                })
                .finally(() => {
                    loading.value = false
                })
        }

        function sendForm() {
            if (!start_at.value || !end_at.value || user_ids.value.length <= 0) {
                // Toast.fire({
                //     icon: 'warning',
                //     title: 'Debes seleccionar las fechas y al menos un asesor.',
                // })

                global.Toast.fire({
                    icon: 'warning',
                    // title: 'Debes seleccionar las fechas y al menos un asesor.',
                    text: 'Debes seleccionar las fechas y al menos un asesor.',
                })
            } else {
                loading.value = true
                axios
                    .post('/api/guardiasParaiso/add', {
                        start_at: moment(start_at.value, 'DD/MM/YYYY H:mm').format('YYYY-MM-DDTH:mm:ss'),
                        end_at: moment(end_at.value, 'DD/MM/YYYY H:mm').format('YYYY-MM-DDTH:mm:ss'),
                        user_ids: user_ids.value,
                    })
                    .then((response) => {
                        user_ids.value = []

                        global.Toast.fire({
                            icon: 'success',
                            title: 'Realizado.',
                        })

                        emit('reloadGuardias')
                    })
                    .finally(() => {
                        loading.value = false
                    })
            }
        }

        return {
            global,
            loading,
            start_at,
            end_at,
            user_ids,
            asesores,
            sendForm,
        }
    },
}
</script>
