<template>
    <app-layout>
        <template #header>
            <h2 class="text-xl font-semibold leading-tight text-gray-800">Contactos</h2>
        </template>

        <div class="w-full p-2">
            <!--  -->
            <div class="max-w-5xl mx-auto mt-5 bg-white shadow-xl sm:rounded-lg">
                <table class="w-full min-w-full border-b divide-y divide-gray-200 table-auto">
                    <thead class="border-b bg-gray-50">
                        <tr>
                            <th
                                scope="col"
                                class="px-2 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                #ID
                            </th>
                            <th
                                scope="col"
                                class="px-2 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Nombre
                            </th>
                            <th
                                scope="col"
                                class="px-2 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Email
                            </th>
                            <th scope="col" class="relative px-2 py-3">
                                <span class="sr-only">Opciones</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr v-for="item in elements.data" :key="item.id" class="text-left">
                            <td class="px-2 py-2 text-center whitespace-nowrap">{{ item.id }}</td>
                            <td class="px-2 py-2 whitespace-nowrap">
                                <div class="text-sm font-medium text-gray-900">
                                    {{ item.name }}
                                </div>
                            </td>
                            <td class="px-2 py-2 whitespace-nowrap">{{ item.email }}</td>
                            <td class="px-6 py-2 text-sm font-medium text-right whitespace-nowrap">
                                <a href="#" class="text-indigo-600 hover:text-indigo-900">
                                    <Icon icon="view" />
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <Pagination class="p-4 pt-5" :links="elements.links" />
            </div>
        </div>
        <!--  -->
    </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
// import Welcome from '@/Jetstream/Welcome'
import Pagination from '@/components/Pagination'
import Icon from '@/components/Icon'

export default {
    components: {
        AppLayout,
        Pagination,
        Icon,
    },
    props: {
        // elements: Array,
        elements: Object,
    },
    setup(props) {
        // console.log('setup')
        // console.log(props)
        // // mounted
        // onMounted(() => {
        //     console.log('Component is mounted!')
        // })
    },
    mounted() {
        // console.log('mounted')
        // console.log('elements', this.elements)
    },
}
</script>
