<template>
    <app-layout>
        <template #header>
            <h2 style="text-align: center" class="text-xl font-semibold leading-tight text-gray-800">
                Asesores para rotación de guardias Villahermosa 
            </h2>
        </template>

        <div class="w-full p-2 mb-10">
            <!--  -->
            <div class="flex justify-between">
                <div class="flex justify-end">
                    <button
                        class="py-1 btn btn-sm btn-primary btn-outline disabled:opacity-50"
                        :disabled="loading"
                        @click="sincHBOwners"
                    >
                        Sincronizar
                    </button>
                </div>
                <div v-if="loading">...</div>
                <!-- <flash-messages /> -->
            </div>
            <!--  -->
            <div class="max-w-5xl mx-auto mt-5 overflow-x-auto bg-white shadow-xl sm:rounded-lg">
                <table class="w-full min-w-full border-b divide-y divide-gray-200 table-auto">
                    <thead class="border-b bg-gray-50">
                        <tr>
                            <th
                                style="text-align:center"
                                scope="col"
                                class="px-2 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                #
                            </th>
                            <th
                                scope="col"
                                class="px-2 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Nombre
                            </th>
                            <th
                                scope="col"
                                class="px-2 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Email
                            </th>
                            <!-- <th scope="col" class="relative px-2 py-3">
                                <span class="sr-only">Opciones</span>
                            </th> -->
                            <th
                                scope="col"
                                class="px-2 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr v-for="(item, i) in elements.data" :key="item.id" class="text-left">
                            <td class="px-2 py-2 text-xs text-center text-gray-400 whitespace-nowrap">{{ i + 1 }}</td>
                            <td class="px-2 py-2 whitespace-nowrap">
                                <div class="flex text-sm font-medium text-gray-900 md:flex-col">
                                    <div>{{ item.name }}</div>
                                    <div>
                                        <span class="text-xs text-gray-400">
                                            [#{{ item.id }}, #{{ item.user_id }}, #{{ item.hb_user_id }} ]
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td class="px-2 py-2 whitespace-nowrap">{{ item.email }}</td>
                            <td class="flex px-6 py-2 text-sm font-medium text-right whitespace-nowrap">
                                <!-- <a href="#" class="text-indigo-600 hover:text-indigo-900">
                                    <div class="w-5 transform hover:text-purple-500 hover:scale-110">
                                        <Icon name="eye" />
                                    </div>
                                </a> -->
                                <!-- <IconsGeneral icon="view" /> -->

                                <ModalConfirm
                                    :modalHeadline="'Eliminar asesor: ' + item.name"
                                    message="Estas seguro ?"
                                    confirmText="Confirma el email del asesor:"
                                    :confirmValue="item.email"
                                    parentActionOnConfirm="deleteRecordEvent"
                                    :id="item.id"
                                    @deleteRecordEvent="remove"
                                />
                            </td>
                        </tr>
                    </tbody>
                </table>

                <Pagination class="p-4 pt-5" :links="elements.links" />
            </div>
        </div>
        <!--  -->
    </app-layout>
</template>

<script>
import { ref, computed, inject } from 'vue'

import { usePage } from '@inertiajs/inertia-vue3'
import { Inertia } from '@inertiajs/inertia'

import AppLayout from '@/Layouts/AppLayout'
// import Welcome from '@/Jetstream/Welcome'
import Pagination from '@/components/Pagination'
import Icon from '@/components/Icon'

import ModalConfirm from '@/components/ModalConfirm'

// import FlashMessages from '@/components/FlashMessages'

export default {
    components: {
        AppLayout,
        Pagination,
        Icon,
        ModalConfirm,
        // FlashMessages,
    },
    props: {
        elements: Object,
    },
    setup() {
        let loading = ref(false)
        let global = inject('global')

        const elements = computed(() => usePage().props.value.elements)

        function sincHBOwners() {
            Inertia.get('/api/asesores/hb-update').then((e) => {
                global.Toast.fire({
                    icon: 'success',
                    text: 'Se actualizó correctamente',
                })
            })
        }

        const remove = (id) => {
            Inertia.delete(route('asesores.destroy', id))
        }

        return {
            loading,
            sincHBOwners,
            remove,
            elements,
            global,
        }
    },
}
</script>
