<template>
    <div>
        <div class="p-6 bg-white border-b border-gray-200 sm:px-20">
            <div>
                <!-- <jet-application-logo class="block w-auto h-12" /> -->
                <div class="block w-auto h-12">Dashboard</div>
            </div>

            <div class="mt-8 text-2xl">
                Welcome to your Jetstream application! ngp 2
                <br />
                bbbbbbaa
            </div>

            <div class="mt-12">
                <inertia-link
                    class="p-1 border border-green-800 rounded hover:bg-green-700 hover:text-white hover:border-black"
                    :href="route('hb_owners_list')"
                    >HB Asesores
                </inertia-link>
            </div>
        </div>
    </div>
</template>

<script>
import JetApplicationLogo from '@/Jetstream/ApplicationLogo'

export default {
    components: {
        JetApplicationLogo,
    },
}
</script>
