<template>
    <div class="vAppLayout">
        <jet-banner />
        <banner />

        <!-- <flash-messages :toast="$page.props.toast" /> -->

        <div class="md:flex md:flex-col md:h-screen">
            <!-- <div class="md:h-screen md:flex md:flex-col"> -->

            <!-- header -->
            <div class="md:flex md:flex-shrink-0">
                <div
                    class="flex items-center justify-between px-6 py-2 bg-black  md:flex-shrink-0 md:w-56 md:justify-center"
                >
                    <inertia-link class="mt-1" href="/">
                        <Logo class="" width="120" height="28" />
                    </inertia-link>

                    <!--  -->
                    <jet-dropdown class="md:hidden" placement="bottom-end" align="right" width="60">
                        <template #trigger>
                            <svg class="w-6 h-6 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                            </svg>
                        </template>
                        <template #content>
                            <menu-side class="p-2 pb-3 bg-gray-800 rounded shadow-lg min-w-max rouded" />
                        </template>
                    </jet-dropdown>
                </div>
                <div
                    class="flex items-center justify-between w-full p-4 text-sm bg-white border-b  md:py-0 md:px-12 md:text-md"
                >
                    <!-- <div class="">IST System</div> -->
                    <div>
                        <div class="text-red-700" v-if="$page.props.envl">
                            <span class="font-bold">Env: {{ $page.props.envl }}</span>
                        </div>
                    </div>
                    <jet-dropdown class="" placement="bottom-end">
                        <template #trigger>
                            <div class="flex items-center cursor-pointer select-none group">
                                <div
                                    class="flex flex-col mr-1 text-gray-700  group-hover:text-indigo-600 focus:text-indigo-600 whitespace-nowrap"
                                >
                                    <span>{{ $page.props.auth.user.name }}</span>
                                    <span class="hidden md:inline">{{ $page.props.auth.user.email }}</span>
                                </div>
                                <icon
                                    class="w-5 h-5 group-hover:fill-indigo-600 fill-gray-700 focus:fill-indigo-600"
                                    name="cheveron-down"
                                />
                            </div>
                        </template>

                        <template #content>
                            <div class="block px-4 py-1 text-xs text-gray-400">Administrar cuenta</div>

                            <div class="text-sm bg-white rounded shadow-xl">
                                <jet-dropdown-link :href="route('profile.show')"> Perfil </jet-dropdown-link>
                                <!-- <inertia-link
                                        class="block px-6 py-2 hover:bg-indigo-500 hover:text-white"
                                        :href="route('users.edit', $page.props.auth.user.id)"
                                        >My Profile</inertia-link
                                    > -->
                                <!-- My Profile -->
                                <!-- <inertia-link
                                    class="block px-6 py-2 hover:bg-indigo-500 hover:text-white"
                                    :href="route('users')"
                                    >Manage Users</inertia-link
                                > -->
                                <!-- Manage Users -->
                                <inertia-link
                                    class="block w-full px-3 py-2 text-left hover:bg-gray-100 hover:text-bold"
                                    :href="route('logout')"
                                    method="post"
                                    as="button"
                                    >Salir</inertia-link
                                >
                            </div>
                        </template>
                    </jet-dropdown>
                </div>
            </div>
            <!--
                    <div class="md:flex md:flex-grow md:overflow-hidden">
                    <main-menu class="flex-shrink-0 hidden w-56 p-12 overflow-y-auto bg-indigo-800 md:block" />
                    <div class="px-4 py-8 md:flex-1 md:p-12 md:overflow-y-auto" scroll-region>
                        <flash-messages />
                        <slot />
                    </div>
                </div>
                -->

            <!-- content -->
            <div class="md:flex md:flex-grow md:overflow-hidden">
                <menu-side class="flex-shrink-0 hidden w-56 h-screen overflow-y-auto bg-gray-800 md:block" />

                <!-- Page Content -->
                <main class="w-full h-full">
                    <!-- Page Heading -->
                    <header class="bg-white shadow" v-if="$slots.header">
                        <div class="px-4 py-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
                            <slot name="header"></slot>
                        </div>
                    </header>

                    <!-- <flash-messages /> -->

                    <div class="w-full h-full pb-20 mb-10 overflow-y-auto md:flex-1 md:py-2" scroll-region>
                        <slot />
                    </div>
                </main>
            </div>
            <!--  -->
            <!-- </div> -->
        </div>
    </div>
</template>

<script>
import JetBanner from '@/Jetstream/Banner'
import Banner from '@/components/Banner'

import Icon from '@/components/Icon'
import Logo from '@/components/Logo'

// import Dropdown from '@/components/Dropdown'
import JetDropdown from '@/Jetstream/Dropdown'

import JetDropdownLink from '@/Jetstream/DropdownLink'

// import MainMenu from '@/components/MenuMain'
import MenuSide from '@/components/MenuSide'

// import FlashMessages from '@/components/FlashMessages'

export default {
    components: {
        JetBanner,
        Banner,
        JetDropdown,
        JetDropdownLink,
        // FlashMessages,
        Icon,
        Logo,
        MenuSide,
    },
    setup(props) {
        // const user = computed(() => usePage().props.value.auth.user)
        // return { user }
    },
    data() {
        return {
            // showingNavigationDropdown: false,
        }
    },
    methods: {
        logout() {
            this.$inertia.post(route('logout'))
        },
    },
}
</script>
