<template>
    <div>
        <!-- <portal-target name="dropdown" slim /> -->

        <div class="md:flex md:flex-col">
            <div class="md:h-screen md:flex md:flex-col">
                <div class="md:flex md:flex-shrink-0">
                    <div
                        class="flex items-center justify-between px-6 py-4 bg-black  md:flex-shrink-0 md:w-56 md:justify-center"
                    >
                        <inertia-link class="mt-1" href="/">
                            <Logo class="" width="120" height="28" />
                        </inertia-link>
                    </div>
                    <div
                        class="flex items-center justify-between w-full p-4 text-sm bg-white border-b  md:py-0 md:px-12 md:text-md"
                    >
                        <!-- {{ $page.props }} -->
                    </div>
                </div>
                <div class="md:flex md:flex-grow md:overflow-hidden">
                    <div class="px-4 py-8 md:flex-1 md:p-12 md:overflow-y-auto" scroll-region>
                        <slot />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Logo from '@/components/Logo'

export default {
    components: {
        Logo,
    },
}
</script>
