<template>
    <div class="flex items-center justify-center min-h-screen p-6 bg-indigo-800">
        <jet-validation-errors class="mb-4" />

        <div v-if="status" class="mb-4 text-sm font-medium text-green-600">
            {{ status }}
        </div>

        <div class="w-full max-w-md">
            <logo class="block w-full max-w-xs mx-auto fill-white" height="50" />
            <!--  -->
            <form class="mt-8 overflow-hidden bg-white rounded-lg shadow-xl" @submit.prevent="submit">
                <div class="px-10 py-12">
                    <h1 class="text-3xl font-bold text-center">Bienvenido!</h1>
                    <div class="w-24 mx-auto mt-6 border-b-2" />
                    <text-input
                        v-model="form.email"
                        :error="form.errors.email"
                        class="mt-10"
                        label="Email"
                        type="email"
                        autofocus
                        autocapitalize="off"
                    />
                    <text-input
                        v-model="form.password"
                        :error="form.errors.password"
                        class="mt-6"
                        label="Password"
                        type="password"
                    />
                    <label class="flex items-center mt-6 select-none" for="remember">
                        <input id="remember" v-model="form.remember" class="mr-1" type="checkbox" />
                        <span class="text-sm">Recuerdame</span>
                    </label>
                </div>
                <div class="flex px-10 py-4 bg-gray-100 border-t border-gray-100">
                    <loading-button :loading="form.processing" class="ml-auto btn-indigo" type="submit"
                        >Ingresar</loading-button
                    >
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import JetValidationErrors from '@/Jetstream/ValidationErrors'

import Logo from '@/components/Logo'
import TextInput from '@/components/TextInput'
import LoadingButton from '@/components/LoadingButton'

export default {
    metaInfo: { title: 'Login' },
    components: {
        JetValidationErrors,
        LoadingButton,
        Logo,
        TextInput,
    },
    props: {
        canResetPassword: Boolean,
        status: String,
    },
    data() {
        return {
            form: this.$inertia.form({
                email: '',
                password: '',
                remember: false,
            }),
        }
    },
    methods: {
        // login() {
        //     this.form.post(this.route('login.store'))
        // },
        submit() {
            this.form
                .transform((data) => ({
                    ...data,
                    remember: this.form.remember ? 'on' : '',
                }))
                .post(this.route('login'), {
                    onFinish: () => this.form.reset('password'),
                })
        },
    },
    mounted() {
        console.log('form', this.form)
    },
}
</script>
